
body {
    background-color: #fcfefe;
}

a {
    color: #f76b8a;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.container {
    display: flex;
}

.header {
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 20px;
    align-content: center;
    gap: 30px;
    margin-top: 25px;
}

.home-container {
    align-items: normal;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 25%;
    padding-left: 40px;
    padding-right: 40px;
}

.skill-container {
    align-items: normal;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 40px;
    padding-right: 40px;   
}

.contact-us-container {
    align-items: normal;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 40px;
    padding-right: 40px;   
}


.tiles-container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 10px;
    justify-content: center;
} 


.tile { 
    flex: 0 0 200px; 
    background-color: #fcfefe; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 5px;
    border: #f76b8a;
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out; 
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f76b8a;
    border-radius: 4px;
  }

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #f76b8a;
    padding: 12px 20px;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #fcfefe;
    color: #f76b8a;
    padding: 12px 20px;
    border: 2px solid #f76b8a;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
input[type=submit]:hover {
  background-color: #f76b8a;
  color: white;
}
